
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}



/* Set padding to keep content from hitting the edges */
.body-content {
    margin: 0 !important;
    padding: 0 !important;
}

.home_slide {
    height: 300px !important;
}

@media (min-width: 1230px) {
    .header_search {
        width: 500px !important;
    }
}

@media (min-width: 1130px) and (max-width: 1230px) {
    .header_search {
        width: 400px !important;
    }
}

@media (min-width:1030px) and (max-width: 1130px) {
    .header_search {
        width: 300px !important;
    }
}

@media (max-width: 768px) {
    .header_search {
        width: 75% !important;
    }

    .payments-brands img {
        width: 100% !important;
    }
}

/*Back to top button*/
#btn-back-to-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: none;
}


.footer {
    margin-bottom: 0;
    padding-bottom: 0;
}

.copyright {
    padding-bottom: 2px;
}

.footer_items p {
    padding: 0;
    margin: 0;
}

.footer_items {
    padding: 0 30px !important;
}

    .footer_items a, .login_link a, .cart_list a {
        text-decoration: none;
    }

        .footer_items a:hover, .login_link:hover, .cart_list a:hover {
            text-decoration: underline;
        }

.products_lists {
    padding-top: 40px;
}

.payments-brands {
    padding: 20px;
}

.header_title, .footer_title {
    font-weight: bold;
}


.product_details {
    padding: 40px;
}

.footer_logo {
    justify-content: center;
    text-align: center;
    padding-top: 30px;
}


.account_settings_inputfileds, .account_register_inputfileds, .account_login_inputfileds, .feedback_inputfileds, .aboutus_form, .addProduct_inputfileds {
    padding: 20px !important;
}

.underConstruction_img {
    width: 300px;
    height: 300px;
    margin: 40px;
}

.underConstruction {
    text-align: center;
}

.textarea_productDesc textarea {
    width: 100% !important;
}


@media (max-width: 767px) {
    .addProduct_inputfileds label {
        text-align: left !important;
    }
}


.box-shadow {
    -webkit-box-shadow: 0 1px 1px rgba(72,78,85,.6);
    box-shadow: 0 1px 1px rgba(72,78,85,.6);
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

    .box-shadow:hover {
        -webkit-box-shadow: 0 20px 40px rgba(72,78,85,.6);
        box-shadow: 0 20px 40px rgba(72,78,85,.6);
        -webkit-transform: translateY(-15px);
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -o-transform: translateY(-15px);
        transform: translateY(-15px);
    }
