
@{
    ViewBag.Title = "About Us";
}


<div class="container">
    <div class="row aboutus_form">
        <div class="col-md-5 border bg-light" style="padding-top:10px;">
            <table class="table table-striped">
                <tr>
                    <th>Name: </th>
                    <td>Muhammad Farooq</td>
                </tr>
                <tr>
                    <th>S/O: </th>
                    <td>
                        Faiz Ullah Farooqi
                    </td>
                </tr>
                <tr>
                    <th>Seat no:</th>
                    <td>EB19103055</td>
                </tr>
                <tr>
                    <th>Enrollment no: </th>
                    <td>SCI/DCS/EP-4908/2019</td>
                </tr>
                <tr>
                    <th>Class: </th>
                    <td>BSSE-III (Evening)</td>
                </tr>
                <tr>
                    <th>Batch: </th>
                    <td>2019-2023</td>
                </tr>
                <tr>
                    <th>Section: </th>
                    <td>"B"</td>
                </tr>
                <tr>
                    <th>Subject: </th>
                    <td>
                        Internet Programming Techniques (CSSE-502)
                    </td>
                </tr>
                <tr>
                    <th>Course Supervisor: </th>
                    <td>Sir Hammad Hussain</td>
                </tr>
                <tr>
                    <th>Department: </th>
                    <td class="text-center">
                        Department of Computer Science <br />
                        University of Karachi
                    </td>
                </tr>
            </table>
        </div>

        <div class="col-md-2"></div>

        <div class="col-md-5 border bg-light" style="padding-top:10px;">
            <table class="table table-striped">
                <tr>
                    <th>Name: </th>
                    <td>Abdulrehman Waheed</td>
                </tr>
                <tr>
                    <th>S/O: </th>
                    <td>
                        Waheed Ishaq
                    </td>
                </tr>
                <tr>
                    <th>Seat no:</th>
                    <td>EB19103005</td>
                </tr>
                <tr>
                    <th>Enrollment no: </th>
                    <td>
                        SCI/DCS/Ep-4645/2019
                    </td>
                </tr>
                <tr>
                    <th>Class: </th>
                    <td>BSSE-III (Evening)</td>
                </tr>
                <tr>
                    <th>Batch: </th>
                    <td>2019-2023</td>
                </tr>
                <tr>
                    <th>Section: </th>
                    <td>"B"</td>
                </tr>
                <tr>
                    <th>Subject: </th>
                    <td>
                        Internet Programming Techniques (CSSE-502)
                    </td>
                </tr>
                <tr>
                    <th>Course Supervisor: </th>
                    <td>Sir Hammad Hussain</td>
                </tr>
                <tr>
                    <th>Department: </th>
                    <td class="text-center">
                        Department of Computer Science <br />
                        University of Karachi
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>